.ccs-banner {
   display: none;
}
.ccs-banner-mobile {
   display: none;
}

@media (min-width: 1024px) {
   .ccs-banner {
      width: 100vw;
      height: 280px;
      background-color: black;
      display: flex !important;
      flex-direction: row;
      justify-content: center;
      align-items: center;
   }
   .ccs-banner-texts {
      width: 360px;
      color: white;
      margin: 0px 35px;
   }
   .ccs-banner-title {
      margin-bottom: 10px;
      margin-top: 0px;
   }
   .ccs-banner-subtitle {
      margin-bottom: 0px;
      font-size: 17px;
   }
   .ccs-banner-buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
   .ccs-banner-button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 200px;
      background-color: #4CED6B;
      border: solid 2px #4CED6B;
      border-radius: 6px;
      font-size: 16px;
      font-weight: 600;
      text-align: center;
   }
   .ccs-banner-button img{
      width: 37.5px;
      height: auto;
   }
   .ccs-banner-button:first-child {
      margin-bottom: 20px;
   }
   .ccs-banner-button:last-child {
      margin-bottom: 20px;
      background-color: transparent;
      color: white;
   }
}
@media (max-width: 1023px) and (min-width: 569px) {
   .ccs-banner {
      width: 100vw;
      height: 250px;
      background-color: black;
      display: flex !important;
      flex-direction: row;
      justify-content: center;
      align-items: center;
   }
   .ccs-banner-texts {
      width: 360px;
      color: white;
      margin: 0px 35px;
   }
   .ccs-banner-title {
      font-size: 21px;
      margin-bottom: 10px;
      margin-top: 0px;
   }
   .ccs-banner-subtitle {
      margin-bottom: 0px;
      font-size: 17px;
   }
   .ccs-banner-buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 10px;
   }
   .ccs-banner-button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 135px;
      background-color: #4CED6B;
      border: solid 2px #4CED6B;
      border-radius: 6px;
      font-size: 16px;
      font-weight: 600;
      text-align: center;
   }
   .ccs-banner-button img{
      width: 35px;
      height: auto;
   }
   .ccs-banner-button:first-child {
      margin-bottom: 20px;
   }
   .ccs-banner-button:last-child {
      margin-bottom: 20px;
      background-color: transparent;
      color: white;
   }
}
@media (max-width: 568px) {
   .ccs-banner-mobile {
      position: relative;
      display: flex;
      flex-direction: column;
      background-color: black;
      color: white;
      padding: 30px;
      margin-bottom: 30px;
   }
   .ccs-banner-mobile-title {
      margin-top: 0px;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 10px;
   }
   .ccs-banner-mobile-subtitle {
      font-size: 14px;
   }
   .ccs-banner-mobile-img {
      position: absolute;
      width: 37.5vw;
      bottom: -45px;
      right: 5px;
   }
   .ccs-banner-mobile-button {
      margin-top: 20px;
      background-color: #4CED6B;
      color: black;
      font-weight: 600;
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 36px; 
      width: 50vw;
      border-radius: 8px;
   }
   .ccs-banner-mobile-button img {
      width: 30px;
      height: 30px;
   }
}
@media (max-width: 568px) and (min-width: 500px) {
   .ccs-banner-mobile-subtitle {
      width: 60% ;
   }
   .ccs-banner-mobile-img {
      bottom: 10px;
      right: 15px;
   }
}
@media (max-width: 360px) {
   .ccs-banner-mobile-img {
      width: 35vw;
   }
   .ccs-banner-mobile-button {
      width: 55vw;
      font-size: 13px;
   }
}
@media (max-width: 320px) {
   .ccs-banner-mobile-button img {
      width: 25px;
   }
   .ccs-banner-mobile-title {
      font-size: 17px;
   }
   .ccs-banner-mobile-img {
      width: 35vw;
      bottom: -5px;
      right: 0px;
   }
   .ccs-banner-mobile-button {
      width: 55vw;
      font-size: 13px;
   }
}