@media (max-width: 568px) {
   .ccs-popup-close-parent {
      top: 5px !important;
      right: 5px !important;
   }
   .ccs-popup {
      right: calc((100vw - 376px) / 2) !important;
   }
   .ccs-widget {
      right: 10px !important;
      bottom: 10px !important;
      width: 80px !important;
      height: 80px !important;
   }
   .hide-ccs-widget {
      width: 9px !important;
      height: 9px !important;
      bottom: 90px !important;
      right: 10px !important;
   }
}
@media (max-width: 375px) {
   .ccs-widget {
      right: 10px !important;
      bottom: 10px !important;
      width: 70px !important;
      height: 70px !important;
   }
   .ccs-popup {
      width: 310px !important;
      bottom: 50px !important;
      right: calc((100vw - 310px) / 2) !important;
   }
   .ccs-promotion-title {
      font-size: 23px !important;
      top: 20px !important;
      right: 30px !important;
   }
   .ccs-promotion-title span {
      font-size: 21px !important;
   }
   .ccs-popup-title {
      font-size: 23px !important;
   }
   .ccs-popup-subtitle {
      font-size: 16px !important;
   }
   .ccs-popup-button {
      width: 250px !important;
   }
   .hide-ccs-widget {
      width: 9px !important;
      height: 9px !important;
      bottom: 80px !important;
      right: 7.5px !important;
   }
}
@media (max-width: 360px) {
   .ccs-popup {
      bottom: 20px !important;
   }
}
@media (max-width: 320px) {
   .ccs-promotion-title {
      font-size: 22px !important;
      right: 45px !important;
   }
   .ccs-promotion-title span {
      font-size: 19px !important;
   }
   .ccs-popup-title {
      font-size: 21px !important;
   }
   .ccs-popup-subtitle {
      font-size: 15px !important;
   }
   .ccs-popup-button {
      font-size: 15px !important;
   }
}
.hide-ccs-widget {
   width: 12.5px;
   height: 12.5px;
   position: fixed;
   bottom: 165px;
   right: 30px;
   z-index: 99999;
}
.ccs-widget {
   display: none;
   cursor: pointer;
   position: fixed;
   right: 35px;
   bottom: 35px;
   width: 125px;
   height: 125px;
   z-index: 99999;
}
.ccs-widget-img {
   animation: shake 3s;
   animation-iteration-count: infinite;
}
.ccs-popup-background {
   font-family: Barlow, sans-serif !important;
   display: none;
   width: 100vw;
   height: 100vh;
   background-color: rgb(71, 74, 89, 0.5);
   cursor: pointer;
   position: fixed;
   bottom: 0;
   left: 0;
   z-index: 99999;
}
.ccs-popup-background.opened {
   display: flex;
}
.ccs-popup {
   cursor: default;
   width: 376px;
   height: auto;
   background-color: #fff;
   position: fixed;
   bottom: 35px;
   right: 35px;
   border-radius: 16px;
   z-index: 99999;
}

.ccs-popup-close-parent {
   position: absolute;
   top: 15px;
   right: 15px;

   width: 20px;
   height: 20px;

   display: flex;
   align-items: center;
   justify-content: center;

   color: #FFFFFF;
   font-weight: 700;
   cursor: pointer;
}
.ccs-promotion-title {
   font-weight: 600;
   color: #fff;
   font-size: 26px;
   top: 30px;
   right: 50px;
   text-align: center;
   position: absolute;
   font-weight: 700;
   line-height: 1.6rem;
}
.ccs-promotion-title span {
   color: #afafaf;
   font-weight: 200;
   font-size: 24px;
}
.ccs-popup-img {
   border-top-left-radius: 14px;
   border-top-right-radius: 14px;
   height: auto;
   width: 100%;
}
.ccs-popup-content {
   padding: 0 20px;
}
.ccs-popup-title {
   color: black;
   line-height: 1.6rem;
   font-weight: 600;
   font-size: 26px;
   margin-top: -10px;
   margin-bottom: 10px;
}
.ccs-popup-subtitle {
   line-height: 1.2rem;
   margin-top: 5px;
   font-size: 18px;
   color: #707070;
   line-height: 1.175em;
}
.ccs-popup-buttons {
   margin: 20px 0;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.ccs-popup-button {
   width: 300px;
   height: 40px;
   text-align: center;
   border-radius: 6px;
   border: solid 2px #4ced6b;
   background-color: #4ced6b;
   font-size: 16px;
   font-weight: 600;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
}
.ccs-popup-button svg {
   width: 37.5px;
   height: auto;
}
@keyframes shake {
   0% {
      transform: translate(2px, 2px) rotate(0);
   }
   10% {
      transform: translate(-2px, -3px) rotate(-1deg);
   }
   20% {
      transform: translate(-4px, -1px) rotate(1deg);
   }
   30% {
      transform: translate(4px, 3px) rotate(0);
   }
   40% {
      transform: translate(2px, -2px) rotate(1deg);
   }
   50% {
      transform: translate(-2px, 3px) rotate(-1deg);
   }
   60% {
      transform: translate(-4px, 2px) rotate(0);
   }
   70% {
      transform: translate(4px, 2px) rotate(-1deg);
   }
   80% {
      transform: translate(-2px, -2px) rotate(1deg);
   }
   90% {
      transform: translate(2px, 2px) rotate(0);
   }
   100% {
      transform: translate(2px, -3px) rotate(-1deg);
   }
}
